<%= form_for(@new_person) do |f| %>
  <% if @new_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_person.errors.count, "error") %> prohibited this new_person from being saved:</h2>

      <ul>
      <% @new_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-large"></i> Drop Down
        <b class="caret"></b>
    </a>
    <ul>
        <li><a href="#">Item1</a></li>
        <li><a href="#">Item2</a></li>
        <li><a href="#">Item3</a></li>
    </ul>
</li>