<h1>Listing new_people</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= 'Index' %>
    <% @new_people.each do |new_person| %>
      <tr>
        <td><%= new_person.first %></td>
        <td><%= new_person.last %></td>
        <td><%= link_to 'Show', new_person %></td>
        <td><%= link_to 'Edit', edit_new_person_path(new_person) %></td>
        <td><%= link_to 'Destroy', new_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New person', new_new_person_path %>
